{{ block title }}Part 2 Results{{ endblock }}

{{ block content }}
{{ if view_as_p1 }}
<p>You sent <strong>{{ player.transfer }}</strong> from the current endowment.</p>
{{ if treatment == C.REINVESTMENT }}
<p>You used <strong>{{ player.reinvestment }}</strong> from your Part 2 accumulated account.</p>
{{ endif }}
<p>The amount player 2 received was <strong>{{ received_amount }}</strong>.</p>
<p>
    The amount that reached you from player 2 this round was <strong>{{ realized_return }}</strong>.
</p>
{{ else }}
<p>The final amount you received was <strong>{{ player.received_amount }}</strong>.</p>
<p>
    You returned <strong>{{ player.intended_return }}</strong> to player 1.
</p>
{{ endif }}
<p>Your payoff this round is <strong>{{ player.round_payoff }}</strong>.</p>
<p>Your Part 2 accumulated account balance is now <strong>{{ account_balance }}</strong>.</p>
{{ formfields }}
{{ if should_continue }}
<p>The interaction continues to another round.</p>
{{ else }}
<p>The interaction has stopped.</p>
{{ endif }}
{{ next_button }}
{{ endblock }}
